In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('input.txt', header=None)
df = pd.concat([df, pd.Series([0, df[0].max()+3])]).sort_values(0)
df

       0
0      0
17     1
7      2
53     5
65     6
6      7
89     8
27     9
5     12
12    15
90    18
54    19
77    20
66    21
33    22
26    25
82    26
64    27
98    28
95    29
87    32
19    33
56    34
35    35
74    38
21    39
75    42
49    45
79    48
43    51
..   ...
92   124
44   125
96   126
71   127
57   128
1    131
76   134
23   135
63   136
61   137
15   140
32   141
47   142
100  145
84   146
97   147
18   148
3    151
99   152
14   153
46   154
48   155
51   158
101  159
10   160
73   161
69   162
20   165
16   166
1    169

[104 rows x 1 columns]

In [3]:
# Part 1
(df[0].diff() == 1).sum() * ((df[0].diff() == 3).sum())

2310

In [4]:
# Part 2
memo = {}
array = df[0].values
def count(i):
    if i in memo:
        return memo[i]
    
    r = 0
    j = i + 1
    
    if j >= len(array):
        return 1
    
    while (j < len(array)) and (array[j] - array[i] < 4):
        r += count(j)
        j += 1
        
    memo[i] = r
    return r

count(0)

64793042714624